extends layout 

block content 
  h1 #{game_detail.name}

  h2 Описание: 
  p #{game_detail.description}

  h2 Автор: #[span #{game_detail.author.name}]

  h4 Год выпуска: #[span(style='font-weight:normal') #{game_detail.year_of_release}]

  p #{game_detail.genre.name}