extends layout 

block content 
  h2(style='margin-top:20px') Продукт: #{item_detail.name}

  strong Описание 
  p #{item_detail.description}
  p #[strong Стоимость: ] $#{item_detail.formatted_price}
  p #[strong Вес: ] #{item_detail.to_kg} 
  if item_detail.inStock 
    p #[strong В Наличии: ] Да
  else 
    p #[strong В Наличии: ] Нет
  if item_detail.genre
    p #[strong Категория: ]  #{item_detail.genre[0].name}
  hr
  p 
    a(href=item_detail.url + '/update') Обновить продукт
  p 
    a(href=item_detail.url + '/delete') Удалить продукт